
.nav-top{
    background-color: rgba(58,84,109,255);
}

.header-page{
    background-color: rgba(26,188,156,255);
}

.about{
    background-color: rgba(26,188,156,255);
}

.footer-one{
    background-color: rgba(58,84,109,255);
}

.bl_card{
    border-radius: 0.7rem;
    overflow: hidden;
    position: relative;
}

.btn-send{
    background-color: rgb(71, 174, 71);
}

.form-control{
    border: 0;
    border-bottom: 0.5px solid rgb(206, 205, 205);
    border-radius: 0;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.5px solid rgb(206, 205, 205);
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:rgba(26,188,156,255);
}

.col .hover_set{
    background-color: rgba(26,188,156,0.8);
    position: absolute;
}
